*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
#header{
    text-align: center;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    background-color:rgb(236, 156, 181);
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
#description{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(255, 219, 225);
    align-items: center;
}
.option{
    width: 25.667%;
    display: flex;
    flex-direction: column;
    margin: 25px;
}
.cost{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Oswald', sans-serif;
}    
.typeOfFood{
    text-align: center;
    font-size: 30px;
    margin: 15px;
    font-family: 'Pacifico', cursive;
}