#container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color:  rgb(201, 201, 201);
    height: 250px;
}
input{
    height: 30px;
}
button{
    font-size: 16px;
    padding: 4px 8px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 8px;
}
.brand{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.name{
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    font-weight: bold;
}
.item{
   font-size: 25px; 
}
.title{
    font-size: 20px;
    font-weight: bold;
}
#logo > i:hover{
    font-size: 1.1em;
    color:blue;
    cursor: pointer;
}